
.products__row{
	margin: 0px 0px 55px 0px;
}

.products__row ul{
		margin: 0px -10px;
		justify-content:start;
}

.products__row li{
	padding: 0px 10px;
	margin: 0px 0px 10px 0px;
}

.products__row li:nth-child(3){
   margin: 0px 215px 0px 0px;
}

.products__row li:nth-child(4){
   margin: 0px 0px 0px 215px;
}

.container__limited{
		margin: 0 auto;
		max-width: 680px;
}

.main__bottom_title{
		margin: 0px 0px 25px 0px;
}

.main__footer_text p{
		margin: 0px 0px 15px 0px;
}

.main__footer_text p:last-child{
		margin: 0px 0px 0px 0px;
}