

/* Титульники, кпопки и т.д.*/

.title__product{
	font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}


/* Main__top */

.main__top{
	background: #EEE4DB;
	max-height: 411px;
	margin: 0px 0px 90px 0px;
	position: relative;
}

.main__top:after{
	content: '';
	position: absolute;
	background-image: url('../img/main/monster.png');
	display: block;
	width: 635.49px;
	height: 461px;
	bottom: 36px;
	right: 99.51px;
}


.main__slider{
	margin: 0px 47px 0px 0px;
}

.slider__number{
	padding: 17px 0px 11px 28px;
	font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
	font-size: 60px;
	line-height: 73px;
	color: rgba(30, 6, 6, 0.05);
	font-weight: 276;
}
.main__column{
	display: flex;
	flex-direction: column;
}

.main__row_top{
	display: flex;
	flex: 1 1 100%;
}

.main__text{
	align-items: center;
	margin: 95px 0px 95px 0px;

}

.main__title{
	max-width: 307px;
	font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
	font-weight: bold;
	font-size: 40px;
	color: #1E0606;
	}
	


	.main__subtitle{
		font-family: 'CrimsonText-Italic','Arial', 'Helvetica', 'sans-serif';
		font-style: italic;
		font-weight: 400;
		font-size: 20px;
		line-height: 25px;
		color: #1E0606;
		
	}
	
	.main__text li{
		margin: 0px 0px 20px 0px;
	}

	.main__text li:last-child{
		margin: 0;
	}


	.main__shipping{
	background: #C29974;
	display:block;
	font-family: 'Open Sans','Arial', 'Helvetica', 'sans-serif';
	font-weight: 700;
	font-size: 12px;
	padding: 11px 0px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	}



.header{
	margin: 50px 0px 126px 0px;
}



/* Main__products */
.main__products{
	margin: 0px 0px 90px 0px;
	
}

.main__products_title{
margin: 0px 0px 30px 0px;
}

.products__row{
	margin: 0px 0px 30px 0px;
}

.products__row_items{
	margin: 0px 0px 30px 0px;
}


/* Slider */


.main__products_slider{
	display: flex;
	align-items: center;
}

.slider__arrow_text{
	max-width: 580px;
}

.slider__arrow_left{
	margin: 0px 6px 0px 0px;
}

.slider__arrow_right{
	margin: 0px 20px 0px 0px;
}

/* Main__delivery */

.main__delivery{
	margin: 0px 0px 90px 0px;
}

.main__delivery_row{
	display: flex;
	margin: 0px -30px;
}

.main__delivery_row img{
	padding: 0px 30px;
}

.main__delivery_column{
	margin: 20px 0px 0px 0px;
}
.main__delivery_img{
	margin: 0px 34px 0px 0px;
	object-fit: cover;
	max-width: 100%;
}

.delivery__titles{
	display: flex;
	margin: 0px 0px 20px 0px;
	flex-direction: column;
}

.delivery__title{
	display: inline-block;
	font-family: 'CrimsonText-Italic', 'Arial', 'Helvetica', 'sans-serif';
	font-style: italic;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
	color: #1E0606;
}

.title{
	font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
	font-weight: bold;
	font-size: 38px;
	line-height: 46px;
	text-transform: uppercase;
	color: #1E0606;
	font-style: normal;
}

.delivery__title{
padding: 11px 180px 11px 60px;
}

.delivery__text{
	margin: 0px 0px 26px 60px;
	max-width: 480px;
}

.delivery__text p{
	margin: 0px 0px 15px 0px;
}

.delivery__text p:last-child{
	margin: 0px 0px 0px 0px;
}

.delivery__btn{
	margin: 0px 0px 0px 60px;
}
/* Labels */

.labels{
	display: flex;
	justify-content: space-between;
	margin: 0px -64px 120px -64px;

}

.labels li{
	padding: 0px 64px;
}

.labels li:nth-child(3){
	margin: 10px 0px 0px 0px;
}

.labels li:nth-child(4){
	margin: 14px 0px 0px 0px;
}



/* Main Bottom */

.main__bottom{
	margin: 0px 37px 95px -28px;
	display: flex;
	justify-content: space-between;
}


/* Main Bottom About */

.about__column{
	max-width: 543px;
	position: relative;
	background-color: #E1F0F7;
	padding: 0px 28px 0px 28px;
	flex: 0 1 50%;
	padding: 0px 28px;
}

.about__column:last-child{
	max-height: 209px;
}

.about__column_title {
	margin: -26px 0px 10px 0px;
}

.about__column_subtitle{
	margin: 0px 0px 10px 0px;
}

.about__column_text{
	margin: 0px 0px 20px 0px;
}

.about__column_button{
	margin: 0px 0px 27px 0px;
}

.about__column img{
	position: absolute;
	margin: 0px 0px 50px 0px;
}

.container__bottom li:last-child{
	max-height: 209px;
}


.img-shirt{
	background-image: url('../img/main/shirt.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.img-socks{
	background-image: url('../img/main/socks.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.img-deer{
	background-image: url('../img/main/deer.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.img-monkey{
	background-image: url('../img/main/monkey.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

