

/* Титульники, кпопки и т.д.*/

.title__product{
	font-family: Montserrat;
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}



/* Main__top */


.main__top{
background: #EEE4DB;
margin: 0px 0px 90px 0px;
}

.main__row{
	display: flex;
	position:relative;

}

.main__row_img{
	position: absolute;
	top:0;
	right:0;
	margin: -78px 100px 0px 0px;
}

.slider__number{
	margin: 17px 44px 0px 28px;
}

.main__text{
padding: 89px 0px;
}

.header{
	margin: 50px 0px 129px 0px;
}

.slider__number{
	margin-bottom: 40px;
}


/* Main */


.main__title{
max-width: 307px;
font-family: Montserrat;
font-weight: bold;
font-size: 40px;
color: #1E0606;
}

.main__subtitle{
	font-family: Crimson Text;
	font-style: italic;
	font-size: 20px;
	line-height: 25px;
	color: #1E0606;
}

.main__text li{
	margin: 0px 0px 20px 0px;
}


.main__shipping{
	background: #C29974;
	display:block;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 12px;
	padding: 11px 0px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}


/* Main__products */
.main__products{
	margin: 0px 0px 90px 0px;
}

.main__products_title{
margin: 0px 0px 30px 0px;
}

.products__row{
	margin: 0px 0px 30px 0px;
}

.products__row_items{
	margin: 0px 0px 30px 0px;
}


/* Slider */


.main__products_slider{
	display: flex;
	align-items: center;
}

.slider__arrow_text{
	max-width: 580px;
}

.slider__arrow_left{
	margin: 0px 6px 0px 0px;
}

.slider__arrow_right{
	margin: 0px 20px 0px 0px;
}

/* Main__delivery */

.main__delivery{
	margin: 0px 0px 90px 0px;
}

.main__delivery_row{
	display: flex;
	margin: 0px -30px;
}

.main__delivery_row img{
	display: flex;
	padding: 0px 30px;
}

.main__delivery_column{
	max-width: 480px;
	padding: 0px 30px;
}

.main__delivery_img{
	margin: 0px 120px 0px 0px;
}

.title_bg_blue{
	font-weight: 700;
	background: rgba(112, 187, 220, 0.2);
	max-width: 326px;
	background-position: right 15px bottom 40px;
}


.delivery_column_subtitle{
margin: 0px 0px 22px 0px;
}


.delivery_column_title{
	margin: 0px 0px 17px 0px;
}

.title_bg_blue_credit{
	margin: 0px 0px 30px 0px;
}

.column_text_p{
	margin: 0px 0px 15px 0px;
}

.column_text_p:last-child{
	margin: 0px 0px 0px 0px;
}

.delivery_column_text{
	margin: 0px 0px 26px 0px;
}

/* Labels */

.labels{
	margin: 0px 0px 90px 0px;
}

.labels ul{
	display: flex;
	justify-content: space-between;
}


/* Main Bottom */

.main__bottom{
	margin: 0px 0px 155px 0px;
}

.bottom__row{
	display: flex;
	justify-content: space-between;
	margin: 0px -29px;

}

/* Main Bottom About */

.about__column{
	max-width: 543px;
	position: relative;
	background-color: #E1F0F7;
	padding: 0px 29px;
	flex: 0 1 50%;
}

.about__column_title {
	margin: -26px 0px 10px 0px;
}

.about__column_subtitle{
	margin: 0px 0px 10px 0px;
}

.about__column_text{
	margin: 0px 0px 20px 0px;
}

.about__column_button{
	margin: 0px 0px 27px 0px;
}

.about__column img{
	position: absolute;
}

/* Form*/

.main__form{
	background: #E5EAF8;
	flex: 0 1 auto;
	margin: 60px 0px 60px 0px;
	
}

.main__form form{
	padding: 42px 30px;
}


label{
	font-size: 14px;
	line-height: 19px;
	color: #1E0606;
}

.main__form input{
	width: 100%;
	height: 50px;
	margin: 3px 0px 20px 0px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#input__agreement{
	border-radius: 3px;
	width: 19px;
	height: 19px;
	color: #C29974;
	position: relative;
}

#input__textarea{
	margin: 0px 0px 20px 0px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.main__text{}

.main__text p{
	margin: 0px 0px 20px 0px;
}

.text__bottom{
font-weight: 600;
font-size: 26px;
line-height: 34px;
text-transform: uppercase;
color: #C29974;
}


#input__textarea{
width:600px;
resize: none;
height:150px;
}

.form-tel-email{
	justify-content: space-between;
	display: flex;
	margin: 0px -10px;
}

.form-tel-email label{
flex: 1 0 50%;
padding: 0px 10px;
}