@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.main__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(125, 151, 218, 0.2);
}
.main__forms_title, .main__forms legend {
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}
.main__toys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__toys_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__toys_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__toys_item img {
  max-height: 100%;
  max-width: 385px;
  margin: 0px 0px 30px 0px;
}
.main__toys_item p {
  margin: 0px 0px 20px 0px;
  font-family: Lato;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #1E0606;
}
.main__toys_item span {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #1E0606;
}
.toys__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}