

.main__form{
	display: flex;
	padding: 42px 0px;
	justify-content: space-between;
}

.main__forms_row{
	background: rgba(125, 151, 218, 0.2);
}

.main__legend{
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #1E0606;
	margin: 0px 0px 15px 0px;
}

.main__amount ul{
	display: flex;
}

.main__toys_items{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px;
}

.main__toys_item{
	flex: 0 1 33.333%;
	text-align: center;
	margin: 0px 0px 45px 0px;
	padding: 0px 10px;
}

.main__toys_item:nth-child(n+3){
	margin: 0px 0px 75px 0px;
}

.main__toys_item img{
	margin: 0px 0px 30px 0px;
}

.toys__title{
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #1E0606;
	margin: 0px 0px 15px 0px;
	}

	.bold{
		font-weight:700;
	}

/* Main Bottom */


	.main__toys_bottom ul{
		display:flex;
		justify-content:space-between;
	}

	.toys__bottom_pages{
		flex: 1 1 auto;
	}

	.toys__bottom_pages li{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #1E0606;
	margin: 0px 65px 0px 0px;
	}

.toys__bottom_pages li:last-child{
	margin: 0;
}

.toys__bottom_pages li:first-child{
	color: #C29974;
}

.main__forms{
	margin: 0px 0px 60px 0px;
}