@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");


.main {

		&__title {
		}

		&__nav {

			&_page {
			}
		}

		&__items {
		}

		&__items ul {
			display: flex;
			flex-wrap: wrap;
		}

		&__items ul:nth-child(-n+3) {
			display: flex;
			justify-content: flex-start;
		}

		&__items ul:nth-child(n+4) {
			display: flex;
			justify-content: flex-end;
		}

		&__items li {
			display: flex;
			flex: 0 1 33.333%;
		}


		&__products {

			&_item1 {
			}

			&_item2 {
			}

			&_item3 {
			}

			&_item4 {
			}

			&_item5 {
			}

			&_item6 {
			}
		}

		&__footer {

			&_text {
			}
		}
}
.title {
}
.page {

		&__link {
		}
}
.item {
}
