@import "nullstyle.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
	font-family: 'CrimsonText';
	src: url('../fonts/CrimsonText-Italic.eot');
	src: local('☺'), url('../fonts/CrimsonText-Italic.woff') format('woff'), url('../fonts/CrimsonText-Italic.ttf') format('truetype'), url('../fonts/CrimsonText-Italic.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'CrimsonTextBoldItalic';
	src: url('../fonts/CrimsonText-BoldItalic.eot');
	src: local('☺'), url('../fonts/CrimsonText-BoldItalic.woff') format('woff'), url('../fonts/CrimsonText-BoldItalic.ttf') format('truetype'), url('../fonts/CrimsonText-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

//Оболочка

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

//Кнопка

.btn {
   color: #FFFFFF;
   background-color: #000;
   padding: 9px 22px;
   font-family: Lato;
   font-size: 16px;
   line-height: 22px;
   display: inline-block;
   text-transform: uppercase;
   max-width: 161px;
   max-height: 40px;
	text-align: center;
}

// Products

.item {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);

}

// Заголовок

.title {
	font-family: Montserrat;
   font-weight: bold;
   font-size: 38px;
   line-height: 46px;
   text-transform: uppercase;
   color: #1E0606;
   margin: 0px 0px 27px 0px;
}

// Ссылки

.page__link{
font-family: CrimsonText;
font-style: italic;
font-size: 20px;
line-height: 25px;
color: #1E0606;
&::after{
	margin: 0px 20px 0px 0px;	
	content: url(/images/icons/tick.svg);
}
}

//Ссылки по сайту

.main__nav_page{
	display: flex;	
	& li:last-child {
		opacity: 0.5;
	}
}


.main__forms_row{
	display: flex;
}


//Подвал

.ftr {
font-family: "Open Sans";
font-size: 16px;
line-height: 22px;
color: #AAAAAA;
padding: 0px 0px 28px 0px;
border-bottom: 1px solid #666666;
}

//Контейнер

.container {
   padding: 50px 100px 110px 100px;
   max-width: 1380px;
   margin: 0 auto;
	
}

//Хэдер

.header {
   text-transform: uppercase;
   font-size: 14px;
   line-height: 19px;
	margin: 0px 0px 0px 0px;
   align-items: center;
}

.header__row{
	display: flex;
   justify-content: space-between;
}


.header__logo{
	margin: 0px 30px 0px 0px;
	}
	
.header__nav {
	margin: 0px 0px 0px 30px;
   flex: 1 1 auto;
   display: flex;
   font-family: 'Lato', sans-serif;

   & li {
      margin: 0px 22px 0px 0px;
   }

   & li:nth-last-child(1) {
      margin: 0;
   }

   & a {
      color: #1E0606;
   }
}
.header__link {}
.header__search {
   margin: 0px 24px 0px 0px;
}
.header__contact_link {
   color: #1E0606;
   font-weight: 700;
}


.footer {
   height: 555px;
   background-color: #434343;
}

.footer__items {
display: flex;	
flex: 0 1 33.333%;
justify-content: space-between;
padding: 100px 110px;
flex-wrap: wrap;
}

.footer__item {
display: flex;	
flex: 0 1 33.333%;
flex-direction: column;
font-family: Lato;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
margin: 0px -10px 38px 0px;
padding: 0px 10px 0px 0px;

}

.footer__nav {}

.footer__footer {
	border-top: 1px solid #666666;
	font-family: Lato;
	font-size: 16px;
	line-height: 22px;
	padding: 21px 0px 0px 0px;
}
.footer__footer ul{
	display: flex;
	flex: 0 1 33.333%;
	color: #FFFFFF;
	justify-content: space-between;
}


